<section class="card-list">
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>Hello world</mat-card-title>
    </mat-card>
    <a routerLink="/item-add">
        <app-add-item-button class="add-item-button"></app-add-item-button>
    </a>
</section>
