.add-item-button {
    position: fixed;
    bottom: 4rem;
    right: 0.5rem;
}
mat-card {
    margin: 1rem;
    padding: 1rem;
    height: 8.5rem;
    width: 8.5rem;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mat-mdc-card-header {
    padding: 0.5rem 0.5rem 0;
    background-color: #bfc5ed;
}
.mat-mdc-card-content {
    padding: 0 0.5rem;
}
mat-card {
    padding: 0.1rem;
}
