.example-form {
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
}
.example-full-width {
    width: 100%;
}

.item-add-submit {
 position: absolute;
 bottom: 3.5rem;
 height: 3rem;
 width: 100%;
}