<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Item Name</mat-label>
      <input matInput placeholder=""  #textbox>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Item Description</mat-label>
      <textarea matInput placeholder=""></textarea>
    </mat-form-field>
<button mat-raised-button color="primary" class="item-add-submit">Add</button>
</form> -->
<section class="item-add">
  <h1>Add Item</h1>
  <form [formGroup]="addItemFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label for="name">Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label for="description">Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="form-field item-add-submit">Add</button>
  </form>
</section>

  