form {
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 8rem;
}

.item-add-submit {
    position: fixed;
    bottom: 0;
    width: 100%;
}

