.item-list {
    padding: 10px;
}
mat-card {
    margin: 10px 0px 10px 0px;
}
.add-item {
 position: fixed; /* Fixes the element to the viewport */
  bottom: 0.5rem; /* Positions the bottom edge at 0 (bottom of the screen) */
  right: 0.5rem;
  
}