
.main-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
}