<mat-toolbar>
    <section class="toolbar-flex">
        <section>
            <a routerLink="">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>check</mat-icon>
                </button>
            </a>
        </section>
        <section>
            <a routerLink="/wash">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>local_laundry_service</mat-icon>
                </button>
            </a>
        </section>
        <a routerLink="/iron">
            <button mat-icon-button class="example-icon" 
            aria-label="Example icon-button with menu icon"
            >
            <mat-icon>storage</mat-icon>
            </button>
        </a>
    </section>
</mat-toolbar>
