<mat-toolbar>
    <section class="toolbar-flex">
        <section>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>check</mat-icon>
            </button>
        </section>
        <section>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>local_laundry_service</mat-icon>
            </button>
        </section>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>storage</mat-icon>
        </button>
    </section>
</mat-toolbar>
