/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
a { text-decoration: none; color: black }
body { margin: 0; font-family: Inter, "Helvetica Neue", sans-serif; }

@media  screen and (min-width: 720px) {
    body {
       display: none;
    }
}
@media screen and (max-width: 720px) {
    body {
        overflow-x: hidden;
    }
}

