/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Inter, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
}

@media  screen and (min-width: 720px) {
    body {
       display: none;
    }
}
@media screen and (max-width: 720px) {
    header {
        height: 8vh;
        background-color: violet;
    }
    section {
        height: 92vh;
        background-color: yellow;
    }
}

